$dark-white: #e8e6e3;
$dark-black: #1c1e1f;
$dark-grey: #121212;
$light-grey: #f3f3f0;
$white: #fafaf0;
$black: #1c1e1f;
$blue: #3391ff;
$active-filter-background-color: #f8f9f8;
$active-filter-border-color: #d7d7d7;

$bg-color: $light-grey;
$card-color: $white;
$link-color: $blue;
$text-color: $black;

.countries-container {
  position: relative;
}

input {
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

.filter-container {
  .filter-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.filter-wrapper {
  margin: 0 10px;
  &:last-child {
    margin-top: 10px;
  }
  .filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.country-initial-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  .filter-by-letter {
    text-align: center;
    line-height: 48px;
    height: 48px;
    width: 48px;
    user-select: none;
    cursor: pointer;
  }
}

.active-filters {
  padding-bottom: 0;
  margin: 10px auto 0 auto;
  .active-filter {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    background-color: $active-filter-background-color;
    border: 1px solid $active-filter-border-color;
    border-radius: 12px;
    margin: 0 10px 10px 0;
    cursor: pointer;

    &:hover {
      background-color: darken($active-filter-background-color, 10%);
    }

    .active-filter-text {
      pointer-events: none;
      line-height: 24px;
    }

    .active-filter-remove {
      pointer-events: none;
      margin: 12px 10px 12px 5px;

      &::before,
      &::after {
        background: #121212cc;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 12px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 10px;
  grid-gap: 10px;

  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 130px;
    overflow: hidden;
    cursor: pointer;

    img {
      margin: 0 auto;
      max-width: 130px;
      max-height: 90px;
      object-fit: contain;
    }

    figcaption {
      font-size: 12px;
      line-height: 12px;
      margin-top: 2px;
    }

    img,
    figcaption {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}

.pages {
}

.extended-country-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
}

.extended-country {
  display: grid;
  position: relative;
  width: 90%;
  margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.12), 0 1px 20px rgba(0, 0, 0, 0.24);
  grid-template-areas:
    'title title'
    'flag flag'
    'region subregion'
    'capital native'
    'demonym currencies'
    'alternative languages'
    'translations translations'
    'border area'
    'border timezones';

  .ec {
    margin: 5px;
    width: calc(100% - 10px);
  }

  .ec-name {
    grid-area: title;
  }
  .ec-native-name {
    grid-area: native;
  }
  .ec-alternative-spellings {
    grid-area: alternative;
  }
  .ec-translations {
    grid-area: translations;
  }
  .ec-region {
    grid-area: region;
  }
  .ec-subregion {
    grid-area: subregion;
  }
  .ec-capital {
    grid-area: capital;
  }
  .ec-coordinates {
    grid-area: coordinates;
  }
  .ec-demonym {
    grid-area: demonym;
  }
  .ec-area {
    grid-area: area;
  }
  .ec-bordering {
    grid-area: border;
  }
  .ec-currencies {
    grid-area: currencies;
  }
  .ec-img {
    grid-area: flag;

    img {
      margin: 0 auto;
      max-width: 250px;
      max-height: 170px;
      object-fit: contain;
    }
  }
  .ec-timezones {
    grid-area: timezones;
  }
  .ec-languages {
    grid-area: languages;
  }
}

.exit-button {
  cursor: pointer;
  position: absolute;
  right: -12px;
  top: -12px;
  width: 48px;
  height: 48px;
  z-index: 10;
  background-color: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 25px;
    margin-top: 24px;
    margin-left: 12px;
    background: $black;
    transition: all 0.2s ease-out;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover {
    background: #e6e5e3;
    &::before,
    &::after {
      background: darken($black, 30%);
    }
  }
}

@media only screen and (min-width: 800px) {
  .extended-country {
    grid-template-areas:
      'title title'
      'flag region'
      'flag subregion'
      'capital native'
      'demonym currencies'
      'alternative languages'
      'translations translations'
      'border area'
      'border timezones';
  }
}

@media only screen and (min-width: 1100px) {
  .extended-country-wrapper {
    overflow-y: visible;
  }
  .extended-country {
    grid-template-areas:
      'title title title'
      'flag region capital'
      'flag subregion demonym'
      'native timezones languages'
      'alternative timezones border'
      'alternative area border'
      'translations translations currencies'
      'translations translations currencies';
  }
}

@media only screen and (min-width: 700px) {
  .filter-wrapper {
    &:first-child {
      margin-right: 10px;
      margin-left: 0;
    }
    &:last-child {
      margin-top: 0;
      margin-right: 0;
    }
  }
  .country-initial-filter {
    grid-template-columns: repeat(auto-fill, minmax(24px, 1fr));
    .filter-by-letter {
      line-height: 24px;
      height: 24px;
      width: 24px;
    }
  }
  .extended-country {
    margin-top: 40px;
    margin-bottom: 40px;
    width: calc(60% - 20px);
  }
}

@media (prefers-color-scheme: dark) {
  .exit-button {
    background-color: $dark-black;
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      width: 25px;
      margin-top: 24px;
      margin-left: 12px;
      background: $dark-white;
      transition: all 0.2s ease-out;
    }
    &:hover {
      background: lighten($dark-black, 10%);
      &::before,
      &::after {
        background: lighten($dark-white, 30%);
      }
    }
  }
}
