$slight-border-radius: 2px;
$card-border-radius: $slight-border-radius;

$dark-overlay-color: rgba(255, 255, 255, 0.03);
$dark-white: #e8e6e3;
$dark-black: #1c1e1f;
$dark-grey: #121212;
$light-overlay-color: rgba(0, 0, 0, 0.03);
$light-grey: #f3f3f0;
$white: #fafaf0;
$black: #1c1e1f;
$blue: #3391ff;

$overlay-color: $light-overlay-color;
$bg-color: $light-grey;
$card-color: $white;
$link-color: $blue;
$text-color: $black;

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption {
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
}

body {
  margin: 0;
  background-color: $bg-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
figcaption,
label,
input {
  color: $text-color;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  font-weight: bold;
}

.h1 {
  font-size: 2em;
}
.h2 {
  font-size: 1.5em;
}
.h3 {
  font-size: 1.17em;
}
.h4 {
  font-size: 1em;
}
.h5 {
  font-size: 0.83em;
}
.h6 {
  font-size: 0.67em;
}

.centered * {
  margin: 0 auto;
  text-align: center;
}

.card,
.card-first,
.card-last,
.card-first-last {
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  padding: 10px 10px;
  border-radius: $card-border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: $card-color;
}

.card-first {
  margin: 0 auto 5px auto;
}
.card-last {
  margin: 5px auto 0 auto;
}

.card-first-last {
  margin: 0 auto;
}

.card-overlay {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $card-border-radius;
  background-color: $overlay-color;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
}

@media only screen and (min-width: 700px) {
  .card,
  .card-first,
  .card-last,
  .card-first-last {
    margin: 10px auto;
  }

  .card-first {
    margin: 0 auto 5px auto;
  }
  .card-last {
    margin: 5px auto 0 auto;
  }

  .card-first-last {
    margin: 0 auto;
  }

  nav,
  header,
  main,
  footer {
    width: 70%;
  }
}

@media (prefers-color-scheme: dark) {
  $overlay-color: $dark-overlay-color;
  $bg-color: $dark-grey;
  $text-color: $dark-white;
  $card-color: $dark-black;

  body {
    background-color: $bg-color;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  figcaption,
  label,
  input {
    color: $text-color;
  }

  .card,
  .card-first,
  .card-last,
  .card-first-last {
    background-color: $card-color;
  }

  .card-overlay {
    background-color: $overlay-color;
  }
}
