$active-filter-background-color: #f8f9f8;
$active-filter-border-color: #d7d7d7;

.country-container {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}

.item-container {
  margin-bottom: 10px;
  .item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.filter {
  margin: 10px;
  margin-left: 0;
}

.country-initial-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  .filter-by-letter {
    user-select: none;
    cursor: pointer;
  }
}

.active-filters {
  padding-bottom: 10px;
  .active-filter {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 0 10px;
    background-color: $active-filter-background-color;
    border: 1px solid $active-filter-border-color;
    border-radius: 12px;
    margin: 0 10px 10px 0;
    cursor: pointer;

    &:hover {
      background-color: darken($active-filter-background-color, 10%);
    }

    .active-filter-text {
      pointer-events: none;
      line-height: 24px;
    }

    .active-filter-remove {
      pointer-events: none;
      margin: 12px 10px 12px 5px;

      &::before,
      &::after {
        background: #121212cc;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 12px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.hidden {
  display: none;
}

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  .country {
    margin: 10px;
    text-align: center;
    img {
      width: 90%;
      height: 90px;
      object-fit: contain;
    }
    figcaption {
      font-size: small;
    }
  }
}

@media only screen and (min-width: 600px) {
  .country-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
