@font-face {
  font-family: 'RobotoMono-Bold';
  src: url(../assets/fonts/RobotoMono-Bold.ttf);
  font-display: swap;
}
.rmB {
  font-family: 'RobotoMono-Bold';
}
@font-face {
  font-family: 'RobotoMono-BoldItalic';
  src: url(../assets/fonts/RobotoMono-BoldItalic.ttf);
  font-display: swap;
}
.rmBI {
  font-family: 'RobotoMono-BoldItalic';
}
@font-face {
  font-family: 'RobotoMono-Italic';
  src: url(../assets/fonts/RobotoMono-Italic.ttf);
  font-display: swap;
}
.rmI {
  font-family: 'RobotoMono-Italic';
}
@font-face {
  font-family: 'RobotoMono-Light';
  src: url(../assets/fonts/RobotoMono-Light.ttf);
  font-display: swap;
}
.rmL {
  font-family: 'RobotoMono-Light';
}
@font-face {
  font-family: 'RobotoMono-LightItalic';
  src: url(../assets/fonts/RobotoMono-LightItalic.ttf);
  font-display: swap;
}
.rmLI {
  font-family: 'RobotoMono-LightItalic';
}
@font-face {
  font-family: 'RobotoMono-Medium';
  src: url(../assets/fonts/RobotoMono-Medium.ttf);
  font-display: swap;
}
.rmM {
  font-family: 'RobotoMono-Medium';
}
@font-face {
  font-family: 'RobotoMono-MediumItalic';
  src: url(../assets/fonts/RobotoMono-MediumItalic.ttf);
  font-display: swap;
}
.rmMI {
  font-family: 'RobotoMono-MediumItalic';
}
@font-face {
  font-family: 'RobotoMono-Regular';
  src: url(../assets/fonts/RobotoMono-Regular.ttf);
  font-display: swap;
}
.rmR {
  font-family: 'RobotoMono-Regular';
}
@font-face {
  font-family: 'RobotoMono-Thin';
  src: url(../assets/fonts/RobotoMono-Thin.ttf);
  font-display: swap;
}
.rmT {
  font-family: 'RobotoMono-Thin';
}
@font-face {
  font-family: 'RobotoMono-ThinItalic';
  src: url(../assets/fonts/RobotoMono-ThinItalic.ttf);
  font-display: swap;
}
.rmTI {
  font-family: 'RobotoMono-ThinItalic';
}
